#about_us.table-container{
    margin-top: 1rem;
    width: 80%;
    border: 2px solid teal;
    border-radius: 10px;  
}

@media screen and (max-width: 330px) {
    ul {
      font-size: small;
    }
  }